:root{
  --blanco:white;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--blanco);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  max-width: 970px;
  margin: 0 auto;
}

.header {
  display: flex;
  padding: 40px 20px;
  justify-content: space-around;
}

.profile-pic img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

.edit-btn {
  width: 100%;
  margin: 10px 0;
  border: 1px solid #9c9c9c;
  padding: 5px;
  border-radius: 4px;
  font-weight: bold;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
}

.post-img {
  width: 300px;
  height: auto;
  display: block;
  padding: 1%;
}

.tabs{
  display: flex;
  margin: 30px;
  justify-content: space-around;
  #selected{
      color:blue;
      font-weight: bold;
  }
}
